body {
  background-size: 100%;
  background-color: #000d1a;
}

@font-face {
    font-family: HAGANE;
    src: url(assets/fonts/Adventure.otf);
}

.bannerImage {
	z-index: -1px;
	margin-bottom: 10px;
	border: 3px solid #000000;
	padding: 7.5px;
	background-color: #000001;
	border-radius: 10px;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

.bannerImage img {
	width: 100%;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

#page-wrap {
    width: 1000px;
    margin: 0 auto;
}

#bg-wrap {
    background-color: #001a33;
    width: 990px;
    height: 2000px;
    padding: 0 0 0px;
    border: 5px solid black;
    margin-top: 10px;
    margin-bottom: 300px;
    border-radius: 10px;
}

/* MAIN PAGES */

.Backbutton1 {
  margin-top: 50px;
  margin-left: 450px;
  width: 50px;
  font-size: 1.5em;
  padding: 15px 20px;
  position: center;
  border: 1px solid black;
  background-color: #000066;
  box-shadow: 5px 5px 10px black;
}

.Backbutton1:hover {
  background-color: #cc6600;
}

.textbutton {
  color: white;
}

.textbutton:focus {
  color: black;
}

p {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.pinlinje {
  margin-top: 15px;
  margin-left: 10px;
  width: 960px;
  height: 5px;
  background-color: white;
  margin-bottom: 10px;   
}

.ptags {
  margin-left: 10px;  
}

#checkers {
  margin-left: 10px;
}

h1 {
	margin-top: -180px;
	margin-left: 320px;
	font-weight: 10px;
	text-transform: uppercase;
	color: #993D00;
	font-family: 'HAGANE';
	font-style: bold;
	font-size: 64px;
	line-height: 54px;
	text-shadow: 2px 5px 0 #1A0A00;
	text-align: center;
	position: absolute;
}

h2 {
  margin-top: -120px;
  margin-left: 320px;
  color: #993D00;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  font-family: 'HAGANE';
  font-style: bold;
  text-shadow: 2px 2px 0 #1A0A00;
  text-align: center;
  position: absolute;
}

h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: white;
  font-family: 'HAGANE';
  font-size: 58px;
  line-height: 54px;
  text-shadow: 2px 5px 0 black;
  text-align: center;
}

#Portal2hell {
  font-weight: 100;
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
  font-size: 34px;
  line-height: 54px;
  text-shadow: 2px 2px 0 black;
  margin-top: 50px;
  margin-left: 415px;
  width: 120px;
  height: 60px;
  padding: 15px 20px;
  border: 1px solid black;
  background-color: #cc6600;
  box-shadow: 5px 5px 10px black;
}

#Portal2hell:hover {
  background-color: #000066;
}

h6 {
  margin-top: 15px;
  margin-bottom: -5px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  font-family: 'HAGANE';
  text-shadow: 2px 2px 0 black;
}




/* NAV BAR */





nav {
  width: 100%;
}

#selected {
  background-color: #993D00;
}

.nav ul {
  list-style: none;
  background-color: #000033;
  text-align: center;
  padding: 0;
  margin: 0;
  box-shadow: 5px 5px 10px black;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a:focus {
  color: black;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}
 
.nav a:hover {
  background-color: #993D00;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 140px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-shadow: 2px 2px 0 black;
  }
 
.nav li {
  display: inline-block;
  margin-right: -4px;
  }
}




/* LOGIN FORM CSS */




.loginboxes {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

.loginboxes {
  margin-top: 50px;
  width: 450px;
}

.input-txt {
  width: 100%;
  padding: 20px 10px;
  background: gray;
  border-color: black;
  font-size: 1em;
  color: white;
  box-shadow: 5px 5px 10px black;
}

.input-txt:focus {
  background-color: #cc6600;
}

#bot {
  margin-top: 20px;
  width: 25%;
  padding: 15px 30px;
  color: black;
  position: center;
  box-shadow: 5px 5px 10px black;
}

#button {
  font-size: .8em;
  padding: 15px 30px;
  color: black;
  position: center;
  box-shadow: 5px 5px 10px black;
}

#user, #pass {
  font-family: 'Raleway', sans-serif;
  color: white;
  line-height: 54px;
}


.button1 {
  font-weight: 100;
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 54px;
  text-shadow: 2px 2px 0 black;
  margin-top: 50px;
  margin-left: 435px;
  width: 70px;
  height: 25px;
  padding: 10px 25px 40px;
  border: 1px solid black;
  background-color: #444;
  box-shadow: 5px 5px 10px black;
}

.button1:hover {
  background-color: #cc6600;
}




/* THE LESHOP CSS */



.centertexts p {
  text-align: center;
}



/* LEPORTAL CSS */




#line1 {
  width: 515px;
  height: 5px;
  border: 5px white;
  background-color: white;
  margin-bottom: 20px;
}

#cart {
  width: 38.5%;
  height: 100px;
  margin-left: 10px;
  border:solid black 5px;
}

.product {
  float:left;
  margin-top: 30px;
  margin-left: 75px;
  width:  520px;
  height: 260px;
  border: 5px solid black;
  background-color: darkred;
  position: absolute;
}

.productPicture {
  width: 520px;
  height: 260px;
}

.productPicture img {
  height: 100%;
  width: 100%;
}

.productName {
  width: 375px;
  margin-top: 8px;
  text-align: left; 
}

.productName p {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: white;
  font-weight: bold;
  margin-bottom: -40px;
  height: 65px;  
}

.productDesc p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-top: -10px;
  height: 65px;
  margin-bottom: 15px;
}

.productPrice {
  width: 115px;
  text-align:center;
  margin-left: 10px;
  float:left;
  margin-left: -20px;
  height: 35px;
}

.productPrice p {
  color: #008000;
  font-size: 20px;
  margin-top: -20px;
  line-height: 35px;
}

.purchase {
  width: 115px;
  height: 35px;
  margin-top: -20px;
  text-align:center;
  float:left;
  border: 2px solid black;
  background-color:lightgreen;
}

.purchase p {
  color:white;
  font-size: 20px;
  margin: 0px;
  line-height: 35px;
  margin-bottom: 50px;
}

.purchase:hover {
  background-color:green;
}





/* LINE DEBRIS */





#RightLine {  
  width: 5px;
  height: 2300px;
  border: 5px white;
  background-color: white;
  margin-top: 20px;
  margin-left: 1315px;
  margin-bottom: 100px;
  position: absolute;
}

#MiddleLine {  
  width: 5px;
  height: 2300px;
  border: 5px white;
  background-color: white;
  margin-top: 20px;
  margin-left: 662.5px;
  margin-bottom: 100px;
  position: absolute;
}

#LeftLine {  
  width: 5px;
  height: 2300px;
  border: 5px white;
  background-color: white;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 100px;
  position: absolute;
}





/* PRODUCT 2 - SWTICH */





#lineSwitch {
  width: 515px;
  height: 5px;
  border: 5px white;
  background-color: white;
  margin-bottom: 20px;
}

.productSwitch {
  float:left;
  margin-top: 30px; 
  margin-left: 730px;
  width:  506px;
  height: 260px;
  border: 5px solid black;
  background-color: darkred;
  position: absolute;
}

.productPictureSwitch {
  width: 460px;
  margin-top: 0px;
  margin-left: 0px;
  height: 200px;
}

.productPictureSwitch {
  height: 100%;
  width: 100%;
}

.productPictureSwitch img {
  height: 100%;
  width: 100%;
}

.productNameSwitch {
  width: 375px;
  margin-top: 100px;
  text-align: left; 
}

.productNameSwitch p {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: white;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: -40px;
  height: 65px;
}

.productDescSwitch p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-top: -10px;
  height: 65px;
  margin-bottom: 15px;
}

.productPriceSwitch {
  width: 115px;
  text-align:center;
  margin-left: 10px;
  float:left;
  margin-left: -20px;
  height: 35px;
}

.productPriceSwitch p {
  color:green;
  font-size: 20px;
  margin-top: -20px;
  line-height: 35px;
}

.purchaseSwitch {
  width: 115px;
  height: 35px;
  text-align:center;
  float:left;
  margin-top: -20px;
  border: 2px solid black;
  background-color:lightgreen;
}

.purchaseSwitch p {
  color:white;
  font-size: 20px;
  margin: 0px;
  line-height: 35px;
  margin-bottom: 50px;
}

.purchaseSwitch:hover {
  background-color:green;
}


.back {
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
  font-size: 21px;
  text-shadow: 2px 2px 0 black;
  width: 60px;
  height: 30px;
  padding: 5px 5px;
  border: 1px solid black;
  background-color: #911D00;
  box-shadow: 5px 5px 10px black;
}

.back:hover {
  background-color: #000080; 
}




/* Product 3 */





#lineSmash {
  width: 515px;
  height: 5px;
  border: 5px white;
  background-color: white;
  margin-bottom: 20px;
}

.productSmash {
  float:left;
  margin-top: 500px;
  margin-left: 75px;
  width:  512px;
  height: 728px;
  border: 5px solid black;
  background-color: darkred;
  position: absolute;
}

.productPictureSmash img {
  width: 100%;
  height: 100%;
}

.productNameSmash {
  width: 375px;
  margin-top: 8px;
  text-align: left; 
}

.productNameSmash p {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: white;
  font-weight: bold;
  margin-bottom: -40px;
  height: 65px;  
}

.productDescSmash p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-top: -10px;
  height: 65px;
  margin-bottom: 15px;
}

.productPriceSmash {
  width: 115px;
  text-align:center;
  margin-left: 10px;
  float:left;
  margin-left: -20px;
  height: 35px;
}

.productPriceSmash p {
  color:green;
  font-size: 20px;
  margin-top: 2px;
  line-height: 35px;
}

.purchaseSmash {
  width: 115px;
  height: 35px;
  text-align:center;
  float:left;
  border: 2px solid black;
  background-color:lightgreen;
}

.purchaseSmash p {
  color:white;
  font-size: 20px;
  margin: 0px;
  line-height: 35px;
  margin-bottom: 50px;
}

.purchaseSmash:hover {
  background-color:green;
}





/* FORUM CSS */





.forum_news {
  float:left;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 5px;
  width:  227.5px;
  height: 160px;
  border: 5px solid black;
  background-color: #000066;
}

.forum_news h4 {
  margin-top: 5px;
  margin-left: 70px;
  font-weight: 10;
  text-transform: uppercase;
  color: white;
  font-family: 'HAGANE';
  font-size: 22px;
  text-shadow: 2px 3px 0 black;
}

.add_question {
  margin-top: 40px;
  margin-left: -480px;
  margin-bottom: 20px;
}

.add_question table {
  border-color: ##000066;
  background-color: white;
}

.add_question td {
  border-color: #000066;
  background-color: white;
}

.add_question strong {
  font-family: 'Raleway', sans-serif;
  color: black;
}

.aline {
  margin-top: 50px;
  margin-left: -40px;
  width: 1060px;
  height: 100px;
  border: 5px solid black;
  background-color: #00004d;
  margin-bottom: 20px;
  border-radius: 10px;
}

.aline h5 {
  margin-top: 0px;
  margin-left: -25px;
  font-weight: 10px;
  text-transform: uppercase;
  color: #FFF;
  font-family: 'HAGANE';
  font-style: italic;
  font-size: 68px;
  text-shadow: 3px 2px 0 #00001a;
  text-align: center;
}


/* ALL QUESTIONS */




.topics {
  float:left;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  width:  227.5px;
  height: 175px;
  border: 5px solid black;
  background-color: #00004d;
  border-radius: 10px;
}

.topics p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  word-wrap:break-word;
  padding: 0px 10px;
}




/* TOPIC INDEX */




.topicsIndex {
  float:left;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  border: 5px solid black;
  background-color: #00001a;
  z-index: -1;
}

.topicsIndex p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  word-wrap:break-word;
  padding: 0px 10px;
  margin-left: 5px;
}

.nameIndex {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  word-wrap:break-word;
  margin-left: 835px;
}

.dateIndex {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  word-wrap:break-word;
  margin-left: 835px;
}

.viewcounter {
  margin-left: 850px;
  margin-bottom: 15px;
  font-weight: bold;
}