body {
  background-image: url("IMAGES/bg.png");
  background-size: 100%;
  color: white;
}

@font-face {
    font-family: HAGANE;
    src: url(assets/fonts/Adventure.otf);
}

.bannerImage {
  z-index: -1px;
  margin: auto;
  margin-bottom: 10px;
  width: 90%;
  border: 3px solid #000000;
  padding: 7.5px;
  background-color: #000;
  border-radius: 10px; 
}

.bannerImage img {
  width: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px)
}

#page-wrap {
    width: 1000px;
    margin: 0 auto;
}

#bg-wrap {
    background-color: #202020;
    width: 990px;
    height: 2000px;
    padding: 0 0 0px;
    border: 5px solid black;
    margin-top: 10px;
    margin-bottom: 300px;
    border-radius: 10px;
}

/* MAIN PAGES */

.Backbutton1 {
  margin-top: 50px;
  margin-left: 450px;
  width: 50px;
  font-size: 1.5em;
  padding: 15px 20px;
  position: center;
  border: 1px solid black;
  background-color: #444;
  box-shadow: 5px 5px 10px black;
}

.Backbutton1:hover {
  background-color: #cc6600;
}

.textbutton {
  color: white;
}

.textbutton:focus {
  color: black;
}

p {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.pinsamlinje {
  margin-top: 15px;
  margin-left: 10px;
  width: 960px;
  height: 5px;
  background-color: white;
  margin-bottom: 10px;   
}

.ptags {
  margin-left: 10px;  
}

#checkers {
  margin-left: 10px;
}

h1 {
  margin-top: -220px;
  margin-left: 170px;
  font-weight: 10px;
  text-transform: uppercase;
  color: white;
  font-family: 'HAGANE';
  font-style: italic;
  font-size: 64px;
  line-height: 54px;
  text-shadow: 2px 5px 0 black;
  text-align: center;
  position: absolute;
}

h2 {
  margin-top: -140px;
  margin-left: 260px;
  color: white;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  font-family: 'HAGANE';
  font-style: italic;
  text-shadow: 2px 2px 0 black;
  text-align: center;
  position: absolute;
}

h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: white;
  font-family: 'HAGANE';
  font-style: italic;
  font-size: 58px;
  line-height: 54px;
  text-shadow: 2px 5px 0 black;
  text-align: center;
}

#Portal2hell {
  font-weight: 100;
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
  font-size: 34px;
  line-height: 54px;
  text-shadow: 2px 2px 0 black;
  margin-top: 50px;
  margin-left: 415px;
  width: 120px;
  height: 60px;
  padding: 15px 20px;
  border: 1px solid black;
  background-color: #444;
  box-shadow: 5px 5px 10px black;
}

#Portal2hell:hover {
  background-color: #cc6600;
}

/* OLD BORING HEADER */

/*header {
  background: gray;
  color: black;
  font-family: 'Raleway',sans-serif; 
  font-size: 24px; 
  line-height: 88px;
  text-transform: uppercase;
}

h2 {
  color: #ffffff; 
  font-family: 'Raleway',sans-serif; 
  font-size: 31px;
  margin-top: 20px;
}*/



/* NAV BAR */

nav {
  width: 100%;
}

#selected {
  background-color: #cc6600;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  box-shadow: 5px 5px 10px black;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a:focus {
  color: black;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}
 
.nav a:hover {
  background-color: #cc6600;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 140px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-shadow: 2px 2px 0 black;
  }
 
.nav li {
  display: inline-block;
  margin-right: -4px;
  }
}



/* GIFS */

#Sanic {
  padding-top: 50px;
}

#Tails {
  width: 225px;
}

#Knackels {
  margin-top: -300px;
  margin-left: -210px;
  position: fixed;
  z-index: -1;
}

#KnackelsIndex {
  margin-top: -300px;
  margin-left: -420px;
  position: fixed;
  z-index: -1;
}

.kaby {
  margin-top: 150px;
  margin-left: -50px;
  position: fixed;
}

.kaby img {
  width: 100px;
}

.pranked {
  margin-top: 50px;
  margin-bottom: -50px;
}

.pranked img {
  width: 500px;
}

/* Cory Page */ 




#cory {
  color: white;
}




/* LOGIN FORM CSS */




.loginboxes {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

.loginboxes {
  margin-top: 50px;
  width: 450px;
}

.input-txt {
  width: 100%;
  padding: 20px 10px;
  background: gray;
  border-color: black;
  font-size: 1em;
  color: white;
  box-shadow: 5px 5px 10px black;
}

.input-txt:focus {
  background-color: #cc6600;
}

#bot {
  margin-top: 20px;
  width: 25%;
  padding: 15px 30px;
  color: black;
  position: center;
  box-shadow: 5px 5px 10px black;
}

#button {
  font-size: .8em;
  padding: 15px 30px;
  color: black;
  position: center;
  box-shadow: 5px 5px 10px black;
}

#user, #pass {
  font-family: 'Raleway', sans-serif;
  color: white;
  line-height: 54px;
}


.button1 {
  font-weight: 100;
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 54px;
  text-shadow: 2px 2px 0 black;
  margin-top: 50px;
  margin-left: 435px;
  width: 70px;
  height: 25px;
  padding: 10px 25px 40px;
  border: 1px solid black;
  background-color: #444;
  box-shadow: 5px 5px 10px black;
}

.button1:hover {
  background-color: #cc6600;
}

/* VIDEOS */


#video1 {
  position: absolute, center;
  margin-top: -80px;
}







/* THE PLEBSHOP CSS */



.centertexts p {
  text-align: center;
}



/* PLEBPORTAL CSS */

#line1 {
  width: 515px;
  height: 5px;
  border: 5px white;
  background-color: white;
  margin-bottom: 20px;
}

#cart {
  width: 38.5%;
  height: 100px;
  margin-left: 10px;
  border:solid black 5px;
}

.product {
  float:left;
  margin-top: 30px;
  margin-left: 75px;
  width:  512.5px;
  height: 560px;
  border: 5px solid black;
  background-color: darkred;
  position: absolute;
}

.productPicture {
  width: 512.5px;
  height: 560px;
}

.productPicture img {
  height: 100%;
  width: 100%;
}

.productName {
  width: 375px;
  margin-top: 8px;
  text-align: left; 
}

.productName p {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: white;
  font-weight: bold;
  margin-bottom: -40px;
  height: 65px;  
}

.productDesc p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-top: -10px;
  height: 65px;
  margin-bottom: 15px;
}

.productPrice {
  width: 115px;
  text-align:center;
  margin-left: 10px;
  float:left;
  margin-left: -20px;
  height: 35px;
}

.productPrice p {
  color:green;
  font-size: 20px;
  margin-top: 2px;
  line-height: 35px;
}

.purchase {
  width: 115px;
  height: 35px;
  text-align:center;
  float:left;
  border: 2px solid black;
  background-color:lightgreen;
}

.purchase p {
  color:white;
  font-size: 20px;
  margin: 0px;
  line-height: 35px;
  margin-bottom: 50px;
}

.purchase:hover {
  background-color:green;
}



/* LINE DEBRIS */



#RightLine {  
  width: 5px;
  height: 2300px;
  border: 5px white;
  background-color: white;
  margin-top: 20px;
  margin-left: 1315px;
  margin-bottom: 100px;
  position: absolute;
}

#MiddleLine {  
  width: 5px;
  height: 2300px;
  border: 5px white;
  background-color: white;
  margin-top: 20px;
  margin-left: 662.5px;
  margin-bottom: 100px;
  position: absolute;
}

#LeftLine {  
  width: 5px;
  height: 2300px;
  border: 5px white;
  background-color: white;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 100px;
  position: absolute;
}



/* PRODUCT 2 - THUG T-SHIRT */



#lineThug {
  width: 515px;
  height: 5px;
  border: 5px white;
  background-color: white;
  margin-bottom: 20px;
}

.productThug {
  float:left;
  margin-top: 30px; 
  margin-left: 730px;
  width:  512.5px;
  height: 560px;
  border: 5px solid black;
  background-color: darkred;
  position: absolute;
}

.productPictureThug {
  width: 512.5px;
  margin-top: 0px;
  margin-left: 0px;
  height: 560px;
}

.productPictureThug img {
  height: 100%;
  width: 100%;
}

.productNameThug {
  width: 375px;
  text-align: left; 
}

.productNameThug p {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: white;
  font-weight: bold;
  margin-top: 25.5px;
  margin-bottom: -40px;
  height: 65px;
  
}

.productDescThug p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-top: -10px;
  height: 65px;
  margin-bottom: 15px;
}

.productPriceThug {
  width: 115px;
  text-align:center;
  margin-left: 10px;
  float:left;
  margin-left: -20px;
  height: 35px;
}

.productPriceThug p {
  color:green;
  font-size: 20px;
  margin-top: 2px;
  line-height: 35px;
}

.purchaseThug {
  width: 115px;
  height: 35px;
  text-align:center;
  float:left;
  border: 2px solid black;
  background-color:lightgreen;
}

.purchaseThug p {
  color:white;
  font-size: 20px;
  margin: 0px;
  line-height: 35px;
  margin-bottom: 50px;
}

.purchaseThug:hover {
  background-color:green;
}


.back {
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
  font-size: 21px;
  text-shadow: 2px 2px 0 black;
  width: 60px;
  height: 30px;
  padding: 5px 5px;
  border: 1px solid black;
  background-color: #444;
  box-shadow: 5px 5px 10px black;
}

.back:hover {
  background-color: #cc6600; 
}




/* Product 3 */





#lineTrump {
  width: 515px;
  height: 5px;
  border: 5px white;
  background-color: white;
  margin-bottom: 20px;
}

.productTrump {
  float:left;
  margin-top: 830px;
  margin-left: 75px;
  width:  512px;
  height: 512px;
  border: 5px solid black;
  background-color: darkred;
  position: absolute;
}

.productPictureTrump {
  width: 512.5px;
}

.productNameTrump {
  width: 375px;
  margin-top: 8px;
  text-align: left; 
}

.productNameTrump p {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: white;
  font-weight: bold;
  margin-bottom: -40px;
  height: 65px;  
}

.productDescTrump p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-top: -10px;
  height: 65px;
  margin-bottom: 15px;
}

.productPriceTrump {
  width: 115px;
  text-align:center;
  margin-left: 10px;
  float:left;
  margin-left: -20px;
  height: 35px;
}

.productPriceTrump p {
  color:green;
  font-size: 20px;
  margin-top: 2px;
  line-height: 35px;
}

.purchaseTrump {
  width: 115px;
  height: 35px;
  text-align:center;
  float:left;
  border: 2px solid black;
  background-color:lightgreen;
}

.purchaseTrump p {
  color:white;
  font-size: 20px;
  margin: 0px;
  line-height: 35px;
  margin-bottom: 50px;
}

.purchaseTrump:hover {
  background-color:green;
}




/* Product 4 */





#lineGASM {
  width: 515px;
  height: 5px;
  border: 5px white;
  background-color: white;
  margin-bottom: 20px;
}

.productGASM {
  float:left;
  margin-top: 830px;
  margin-left: 730px;
  width:  512px;
  height: 512px;
  border: 5px solid black;
  background-color: darkred;
  position: absolute;
}

.productPictureGASM {
  width: 512.5px;
}

.productPictureGASM img {
  width: 512px;
  height: 512px;
}

.productNameGASM {
  width: 375px;
  margin-top: 8px;
  text-align: left; 
}

.productNameGASM p {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: white;
  font-weight: bold;
  margin-bottom: -40px;
  height: 65px;  
}

.productDescGASM p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-top: -10px;
  height: 65px;
  margin-bottom: 15px;
}

.productPriceGASM {
  width: 115px;
  text-align:center;
  margin-left: 10px;
  float:left;
  margin-left: -20px;
  height: 35px;
}

.productPriceGASM p {
  color:green;
  font-size: 20px;
  margin-top: 2px;
  line-height: 35px;
}

.purchaseGASM {
  width: 115px;
  height: 35px;
  text-align:center;
  float:left;
  border: 2px solid black;
  background-color:lightgreen;
}

.purchaseGASM p {
  color:white;
  font-size: 20px;
  margin: 0px;
  line-height: 35px;
  margin-bottom: 50px;
}

.purchaseGASM:hover {
  background-color:green;
}



/* Product 5 */





#lineFrank {
  width: 515px;
  height: 5px;
  border: 5px white;
  background-color: white;
  margin-bottom: 20px;
}

.productFrank {
  float:left;
  margin-top: 1580px;
  margin-left: 75px;
  width:  512px;
  height: 512px;
  border: 5px solid black;
  background-color: darkred;
  position: absolute;
}

.productPictureFrank {
  width: 512.5px;
}

.productPictureFrank img {
  width: 512px;
  height: 512px;
}

.productNameFrank {
  width: 375px;
  margin-top: 8px;
  text-align: left; 
}

.productNameFrank p {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: white;
  font-weight: bold;
  margin-bottom: -40px;
  height: 65px;  
}

.productDescFrank p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-top: -10px;
  height: 65px;
  margin-bottom: 15px;
}

.productPriceFrank {
  width: 115px;
  text-align:center;
  margin-left: 10px;
  float:left;
  margin-left: -20px;
  height: 35px;
}

.productPriceFrank p {
  color:green;
  font-size: 20px;
  margin-top: 2px;
  line-height: 35px;
}

.purchaseFrank {
  width: 115px;
  height: 35px;
  text-align:center;
  float:left;
  border: 2px solid black;
  background-color:lightgreen;
}

.purchaseFrank p {
  color:white;
  font-size: 20px;
  margin: 0px;
  line-height: 35px;
  margin-bottom: 50px;
}

.purchaseFrank:hover {
  background-color:green;
}




/* Product 6 */





#lineReynoodle {
  width: 515px;
  height: 5px;
  border: 5px white;
  background-color: white;
  margin-bottom: 20px;
}

.productReynoodle {
  float:left;
  margin-top: 1580px;
  margin-left: 730px;
  width:  512px;
  height: 512px;
  border: 5px solid black;
  background-color: darkred;
  position: absolute;
}

.productPictureReynoodle {
  width: 512.5px;
}

.productPictureReynoodle img {
  width: 512px;
  height: 512px;
}

.productNameReynoodle {
  width: 375px;
  margin-top: 8px;
  text-align: left; 
}

.productNameReynoodle p {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: white;
  font-weight: bold;
  margin-bottom: -40px;
  height: 65px;  
}

.productDescReynoodle p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-top: -10px;
  height: 65px;
  margin-bottom: 15px;
}

.productPriceReynoodle {
  width: 115px;
  text-align:center;
  margin-left: 10px;
  float:left;
  margin-left: -20px;
  height: 35px;
}

.productPriceReynoodle p {
  color:green;
  font-size: 20px;
  margin-top: 2px;
  line-height: 35px;
}

.purchaseReynoodle {
  width: 115px;
  height: 35px;
  text-align:center;
  float:left;
  border: 2px solid black;
  background-color:lightgreen;
}

.purchaseReynoodle p {
  color:white;
  font-size: 20px;
  margin: 0px;
  line-height: 35px;
  margin-bottom: 50px;
}

.purchaseReynoodle:hover {
  background-color:green;
}




/* FORUM CSS */

.forum_news {
  float:left;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 5px;
  width:  227.5px;
  height: 160px;
  border: 5px solid black;
  background-color: #444;
}

.forum_news h4 {
  margin-top: 5px;
  margin-left: 70px;
  font-weight: 10;
  text-transform: uppercase;
  color: white;
  font-family: 'HAGANE';
  font-size: 22px;
  text-shadow: 2px 3px 0 black;
}

.add_question {
  margin-top: 40px;
  margin-left: -480px;
  margin-bottom: 20px;
}

.add_question table {
  border-color: #404040;
  background-color: white;
}

.add_question td {
  border-color: black;
  background-color: white;
}

.add_question strong {
  font-family: 'Raleway', sans-serif;
  color: black; 
}

.awkwardline {
  margin-top: 50px;
  margin-left: -40px;
  width: 1060px;
  height: 100px;
  border: 5px solid black;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
}

.awkwardline h5 {
  margin-top: 0px;
  margin-left: -25px;
  font-weight: 10px;
  text-transform: uppercase;
  color: black;
  font-family: 'HAGANE';
  font-style: italic;
  font-size: 68px;
  text-shadow: 2px 3px 0 black;
  text-align: center;
}


/* ALL QUESTIONS */




.topics {
  float:left;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  width:  227.5px;
  height: 175px;
  border: 5px solid black;
  background-color: #444;
  border-radius: 10px;
}

.topics p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  word-wrap:break-word;
  padding: 0px 10px;
}




/* TOPIC INDEX */




.topicsIndex {
  float:left;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  border: 5px solid black;
  background-color: #444;
  z-index: -1;
}

.topicsIndex p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  word-wrap:break-word;
  padding: 0px 10px;
  margin-left: 5px;
}

.nameIndex {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  word-wrap:break-word;
  margin-left: 835px;
}

.dateIndex {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  word-wrap:break-word;
  margin-left: 835px;
}

.viewcounter {
  margin-left: 850px;
  margin-bottom: 15px;
  font-weight: bold;
}



/* POP UP */


#link {
  position: absolute;
  margin-left: 15px;
}

.popUpTitle {
  background-color: #444;
  height: 40px;
  width: 100%;
}

.popUpTitle p {
  margin-left: 10px;
}

.popUpTitle img {
  float: right;
  margin-right: 5px;
  margin-top: -27.5px;
}

.data {
  background-color: #FFFFFF;
  height: auto;
  overflow: hidden;
  font-size: 14px;
  padding: 15px 15px 40px;
  width: auto;
}

.buttons li {
  cursor: pointer;
  float: left;
  height: 29px;
  width: 134px;
}

span.button {
  background-color: black;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 25px;
  text-align: center;
}

.popUpDisplay {
  display: none;
  position: absolute;
  width: 440px;
  height: 300px;
  width: 440px;
  z-index: 1001;
}

.dimLayer {
  display: none;
  outline: 0px none;
  height: 100%;
  width: 100%;
  background: #A9A9A9;
  top: 0px;
  left: 0px;
  z-index: 900;
  position: absolute;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
}


/* MING LEE PAGE */

p1 {
  margin-left: 200px;
  color: white;
  font-size: 26px;
  line-height: 40px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 2px 2px 0 black;
}

.Back1 {
  margin-top: 20px;
  margin-left: 450px;
  width: 50px;
  font-size: 1.5em;
  padding: 15px 20px;
  position: center;
  border: 1px solid black;
  background-color: #444;
  box-shadow: 5px 5px 10px black;
}

.Back1:hover {
  background-color: #cc6600;
}

.back1text {
  color: white;
}

.back1text:focus {
  color: black;
}